# Base credentials for services
USER=dap
PASSWORD=dap
PGADMIN_EMAIL=dap@dap.com

# Database Connection Details (Used by ETL and Dashboard)
# Defaults are set for Docker environment. 
# Uncomment and modify if running locally or connecting to external databases.
# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432
# POSTGRES_DB_APP=projectdb
# POSTGRES_USER=dap
# POSTGRES_PASSWORD=dap

# MONGO_HOST=mongodb
# MONGO_PORT=27017
# MONGO_USER=dap
# MONGO_PASSWORD=dap